@import '../../../assets/styles/theme.sass'

.footer
    background-color: $theme-bluegray-900
    // position: absolute
    // bottom: 0
    width: 100%

    .wrapper
        @extend .wrapper
        display: block
        padding: 12px 0
        text-align: right

        h4
            color: $theme-bluegray-100
            display: inline-block
            margin: 0
            position: relative 
            top: -4px

        .social 
            display: inline-block
            padding: 0 20px 0 10px
            i 
                color: $theme-bluegray-100
                cursor: pointer
                font-size: 26px
                margin-left: 8px
                &:hover
                    color: $color-white

    