<section class="menu" aria-label="menu">
  <div class="wrapper">

    <nav class="menu-block">

      <a class="menu-button"
         routerLink="experience"
         [ngClass]="service.getSection() === 'experience' ? 'selected' : ''"
         (click)="onClick('experience')">
            {{ menu.experience }}
      </a>

      <a class="menu-button"
         routerLink="projects"
         [ngClass]="service.getSection() === 'projects' ? 'selected' : ''"
         (click)="onClick('projects')">
            {{ menu.projects }}
      </a>

      <a class="menu-button"
         routerLink="education"
         [ngClass]="service.getSection() === 'education' ? 'selected' : ''"
         (click)="onClick('education')">
            {{ menu.education }}
      </a>

    </nav>

  </div>
</section>
