<section class="menu" aria-label="menu"  *ngIf="service.pfTexts">
  <div class="wrapper">

    <nav class="menu-block">

      <a class="menu-btn-experience"
         [ngClass]="service.getSection() === 'experience' ? 'selected' : ''"
         (click)="onClick('experience')">
            {{ service.pfTexts.experience.title }}
      </a>

      <a class="menu-btn-projects"
         [ngClass]="service.getSection() === 'projects' ? 'selected' : ''"
         (click)="onClick('projects')">
            {{ service.pfTexts.projects.title }}
      </a>

      <a class="menu-btn-education"
         [ngClass]="service.getSection() === 'education' ? 'selected' : ''"
         (click)="onClick('education')">
            {{ service.pfTexts.education.title }}
      </a>

    </nav>

  </div>
</section>
