<section class="education" aria-label="education" *ngIf="service.pfTexts">

  <div class="wrapper">

    <h3>{{ service.pfTexts.education.title }}</h3>

    <div class="education-block" *ngIf="service.pfEducation">

      <div *ngFor="let edu of service.pfEducation.get('education')" class="study">
        <span class="degree">{{edu.degree}}</span>
        <span class="place">{{edu.place}}</span>
      </div>

    </div>

    <h3>{{ service.pfTexts.education.subsection }}</h3>

    <div class="languages-block" *ngIf="service.pfEducation">

      <div *ngFor="let lang of service.pfEducation.get('languages')" class="language">
        <span class="language-name">{{lang.name}}</span>
        <span class="language-level">{{lang.level}}</span>
      </div>

    </div>

  </div>
</section>