<div class="timeline">

  <div class="dates">
    <span>{{data.dateTo}}</span>
    <span *ngIf="data.dateFrom">{{data.dateFrom}}</span>
  </div>

  <div class="content">

    <div class="head">
      <span>{{data.name}}</span>
      <span>{{data.type}}</span>
    </div>

    <div class="body">

      <div class="occupation">
        <span>{{data.position}}</span>
        <p>{{data.description}}</p>
      </div>

      <div class="featured-projects" *ngIf="data.featured">
        <div class="featured-projects-title">{{text.featured}}</div>
        <div *ngFor="let proj of data.featured" class="project">
          <span>{{proj.name}}</span>
          <p>{{proj.description}}</p>
        </div>
      </div>
    </div>

  </div>

</div>